@model IEnumerable<Meet.Models.Comment>

@{
    ViewData["Title"] = "CommentIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentorsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentorsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentBody)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>

                <td>

                    <a type="button" class="btn btn-primary" asp-action="CommentCreate" asp-route-id="@item.MeetId">Create A New Comment!</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<a type="button" asp-action="Index" asp-controller="CarMeets" class="btn btn-primary">Back To The Meets</a>


