@model Meet.ViewModels.CarMeetDetails

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    About the Meet
</h1>
<a type="button" asp-action="Index" class="btn btn-primary btn-group-sm">Back To The Meets</a>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Meet Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.MeetTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetTime)
        </dd>
    </dl>
    <style>
        #alert{
            background-color: red;
            border-color: red;
        }
    </style>
    <a type="button" asp-action="RSVPIndex" asp-route-id="@Model.MeetId" class="btn btn-primary">Who's Going?</a>
    @if (!Model.IsRSVP)
    {
        <a type="button" asp-action="SetRSVP" asp-route-id="@Model.MeetId" class="btn btn-primary">RSVP</a>
    }
    else
    {
        <a type="button" asp-action="DeleteRSVP" asp-route-id="@Model.MeetId" class="btn btn-primary">Remove RSVP</a>
    }

    <a type="button" asp-action="TopThree" asp-route-id="@Model.MeetId" asp-controller="Cars" class="btn btn-primary">View The Top Three Cars Going</a>
    <a type="button" asp-action="CommentIndex" asp-route-id="@Model.MeetId" class="btn btn-primary">Comments</a>
    <a type="button" id="alert" asp-action="SOS" asp-route-id="@Model.MeetId" class="btn btn-primary">SOS</a>

    @if (Model.IsOwner)
    {
        <a type="button" asp-action="Edit" asp-route-id="@Model.MeetId" class="btn btn-primary">Edit</a>
        <a type="button" id="alert" asp-action="Delete" asp-route-id="@Model.MeetId" class="btn btn-primary">Delete</a>
    }

</div>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=@Meet.ApiKeys.GoogleApiKey&callback=initMap&libraries=&v=weekly"
        defer></script>
<style type="text/css">
    /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
    #map {
        height: 400px;
        margin-top: 25px;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
    }

    #infowindow-content .title {
        font-weight: bold;
    }

    #infowindow-content {
        display: none;
    }

    #map #infowindow-content {
        display: inline;
    }

    .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
    }

    #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
    }

    .pac-controls {
        display: inline-block;
        padding: 5px 11px;
    }

        .pac-controls label {
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
        }

    #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
    }

        #pac-input:focus {
            border-color: #4d90fe;
        }

    #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
    }

    #target {
        width: 345px;
    }
</style>

<script>
    function initMap() {
        var meet = @Html.Raw(Json.Serialize(Model));
        console.log(meet);
        let localLat = meet.lat;
        let localLng = meet.long;
        console.log('lat',localLat)
        var myLatLng = { lat: meet.lat, lng: meet.long };

        console.log('latlng', myLatLng)
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 13,
            center: myLatLng,
        });

        const infoWindow = new google.maps.InfoWindow();

                var Latitude = meet.lat;
                var Longitude = meet.long;
                myLatLng = { lat: Latitude, lng: Longitude }
               const marker = new google.maps.Marker({
                    position: myLatLng,
                    map,
                    title: meet.meetName,

                });

        marker.addListener("click", () => {
            infoWindow.close();
            infoWindow.setContent(marker.getTitle());
            infoWindow.open(marker.getMap(), marker);
        })

    }
</script>
<body>

    <div id="map"></div>
</body>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    