@model Meet.Models.CarMeet

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About the Meet</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Meet Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.MeetTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MeetTime)
        </dd>
    </dl>
    <style>
        #SOSButton{
            background-color: red;
        }
    </style>
    <a type="button" asp-action="RSVPIndex" asp-route-id="@Model.MeetId" class="btn btn-primary">Who's Going?</a>
    <a type="button" asp-action="RSVP" asp-route-id="@Model.MeetId" class="btn btn-primary">RSVP</a>
    <a type="button" asp-action="TopThree" asp-route-id="@Model.MeetId" asp-controller="Cars" class="btn btn-primary">View The Top Three Cars Going</a>
    <a type="button" asp-action="CommentIndex" asp-route-id="@Model.MeetId" class="btn btn-primary">Comments</a>
    <a type="button" asp-action="Index" class="btn btn-primary">Back To The Meets</a>
    <a type="button" id="SOSButton" asp-action="SOS" asp-route-id="@Model.MeetId" class="btn btn-primary">SOS</a>

</div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    